// Using custom boostrap but tailwind could be used like this
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

button.tag-default {
  border-style: none;
}

.tag-default:hover {
  background-color: #687077;
}

.nav-link {
  cursor: pointer;
}
